__pycache__/
*.pyc
venv/
*.egg-info/
config.json
test_config.json
*.log
test_images/
test_images_aligned/
test_images_aligned_preview_landscape/
test_images_aligned_preview_portrait/
*.DS_Storebuild/
dist/
